<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Estilo customizado -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Interface Gráfica</title>

    
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-danger">
            <div class="container text-white">
                <a href="aula-2-gereciamento-pacotes.html" class="h3 font-weight-normal">Linux Debian</a>
            </div>
        </nav>
    </header>
    
    <section>
        <div class="container">
            <div class="row"><!-- row -->
                <div class="col-12 py-4 border-bottom">
                    <h2>Interface Gráfica </h2>
                    <h4>Objetivos da Aula:</h4>
                    <ul>
                        <li>Configurar a interface gráfica para os usuários comuns.</li>
                        <li>Conhecer os arquivos de configuração.</li>
                        <li>Instalar e configurar o Display Manager.</li>
                        <li>Instalar e configurar os Windows Managers.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 py-4 border-bottom">
                    
                    <h3>X Window System (Servidor X ou X11)</h3>
                    <p>É um protocolo de rede e vídeo que tem a capacidade de trabalhar com o sistema de janelas e que permite uma melhor interação por meio de teclado e mouse.</p>
                    <p>Fornece meios para o desenvolvimento de interfaces gráficas para usuários ou GUI (Graphical User Interface).</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 py-4 border-bottom">
                    <h3>Sistemas de Interconexão de Interfaces</h3>
                    <p>Os principais softwares de compartilhamento de interface gráfica são:</p>
                    <ul>
                        <li>AnyDesk</li>
                        <p></p>
                        <li>TeamViewer</li>
                        <p></p>
                    </ul>
                    <p>Ambos programas utilizam uma conexão SSH para conectar os dispositivos. O usuário a quem compartilha sua tela está efetuando um processo de upload para o usuário na qual recebe esses dados, onde por sua vez, está efetuando o download.</p>
                    <h4>SSH (Secure Shell)</h4>
                    <p>O Secure Shell ou Security Service Host é um protocolo de rede criptográfico para operação de serviços de rede de forma segura sobre uma rede insegura. O melhor exemplo de aplicação conhecido é para login remoto de usuários a sistemas de computadores.</p>
                    <p>Ele permite a você acessar virtualmente o servidor como se você estivesse em um terminal (no prompt do DOS, por exemplo). Se você preferir, considere como o SSH como um computador controlando outro computador.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 py-4 border-bottom">
                    <h3>Rede simétricas e assimétricas</h3>
                    <h4>Rede simétrica</h4>
                    <p>Quantidade de Upload e Download são simétricas, possuindo a mesma velocidade de transmissão e recepção de dados.</p>
                    <h4>Rede assimétrica</h4>
                    <p>Quantidade de Upload e Download assimétricas, muito utilizado para usuários comuns, onde a velocidade de transmissão e recepção são diferentes.</p>
                </div>        
            </div>
            <div class="row">
                <div class="col-12 py-4 border-bottom">
                    <h3>Instalação e Uso da GUI</h3>
                    <ul>
                        <li>
                            <p><strong>XORG</strong> ou X.Org Server é a implementação livre e de código aberto de servidor de exibição para o sistema de janelas X11 gerenciado pela X.Org Foundation, que é hospedada pela freedesktop.org, e concede acesso público ao padrão das liberações do X Window para os esforços da comunidade de software livre e de código aberto:</p>
                            <p class="border rounded p-2 bg-light text-danger d-inline">&#36; sudo apt install xorg</p><br><br>
                            <p>Para iniciar o software de interface gráfica <strong>X.Org</strong> digite o comando:</p>
                            <p class="border rounded p-2 bg-light text-danger d-inline">&#36; tasksel</p><br><br>
                            <p>Esse comando irá listar uma lista de interfaces gráficas disponíveis como recurso para o usuário instalar em seu sistema. Alguns exemplos de GUI:</p>
                            <ul>
                                <li>GNOME</li>
                                <li>Xfce</li>
                                <li>KDE</li>
                                <li>Cinnamon</li>
                                <li>...</li>
                            </ul>
                            <br>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </section>
    
    <footer class="bg-dark stretch-bottom py-2 text-light">
        <div class="container">
            <p>Site desenvolvido por Henrique Bustillos</p>
        </div>
    </footer>

    <!-- JavaScript Opcional -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>
</html>